<div class="plans-container">
  <div class="titlePlans">
    <h1 class="titleChoosePlan">Choose your plan</h1>
    <h3 class="subtitle1">From casual collectors to power organizers — <span style="color: #f77f5c;">we’ve got you covered.</span></h3>
  </div>

  <div class="cards-wrapper">
    <div class="plan-group">
    <mat-card class="plan-card starter">
      <mat-card-content>
        <h2 class="title-starter">Starter</h2>
        <h3 class="price">Free</h3>
        <ul>
          <li>✅ Up to 2 collections</li>
          <li>✅ Up to 20 items per Collection</li>
          <li>✅ Basic sharing via link</li>
          <li>✅ Web access only</li>
          <li>❌ No custom tags</li>
          <li>❌ No customizables</li>
          <li>❌ No sharing</li>
        </ul>
      </mat-card-content>
    </mat-card>
</div>

    <div class="plan-group">
    <mat-card class="plan-card plus">
      <mat-card-content>
        <h2 class="title-plus">Plus</h2>
        <h3 class="price">4.99 $<br><span>/ month</span></h3>
        <ul>
          <li>✅ Up to 15 collections</li>
          <li>✅ Up to 300 items per Collection</li>
          <li>✅ Basic sharing via QR</li>
          <li>✅ Customizable Collections</li>
          <li>✅ Custom tags</li>
          <li>✅ Sharing</li>
        </ul>

      </mat-card-content>
    </mat-card>
      <!-- Plus (id: 2) -->
      <button mat-flat-button class="upgrade-plus-button" color="primary"
              (click)="goToPurchase(2)">
        Upgrade now
      </button>
    </div>



    <div class="plan-group">
    <mat-card class="plan-card infinite">
      <mat-card-content>
        <h2 class="title-infinite">Infinite</h2>
        <h3 class="price">9.99 $<br><span>/ month</span></h3>
        <ul>
          <li>✅ Up to 100 collections</li>
          <li>✅ Up to 8000 items per Collection</li>
          <li>✅ Sharing via QR and PDF</li>
          <li>✅ Customizable Collections</li>
          <li>✅ Custom tags</li>
          <li>✅ Sharing via QR/Link/Export</li>
          <li>✅ Moodboard</li>
        </ul>
      </mat-card-content>
    </mat-card>
      <button mat-flat-button class="upgrade-infinite-button" color="accent"
              (click)="goToPurchase(3)">
        Upgrade now
      </button>
    </div>

  </div>
</div>
