<app-toolbar></app-toolbar>
<div class="plans-container">
  <div class="titlePlans">
    <h1 class="titleChoosePlan">{{ 'plansPage.chooseYourPlanTitle' | translate }}</h1>
    <h3 class="subtitle1">
      {{ 'plansPage.subtitlePart1' | translate }}
      <span style="color: #f77f5c;">{{ 'plansPage.subtitlePart2' | translate }}</span>
    </h3>
  </div>

  <div class="cards-wrapper">
    <div class="plan-group">
      <mat-card class="plan-card starter">
        <mat-card-content>
          <h2 class="title-starter">{{ 'plansPage.starterPlan.title' | translate }}</h2>
          <h3 class="price">{{ 'plansPage.starterPlan.price' | translate }}</h3>
          <ul>
            <li>✅ {{ 'plansPage.starterPlan.feature1' | translate }}</li>
            <li>✅ {{ 'plansPage.starterPlan.feature2' | translate }}</li>
            <li>✅ {{ 'plansPage.starterPlan.feature3' | translate }}</li>
            <li>✅ {{ 'plansPage.starterPlan.feature4' | translate }}</li>
            <li>❌ {{ 'plansPage.starterPlan.feature5' | translate }}</li>
            <li>❌ {{ 'plansPage.starterPlan.feature6' | translate }}</li>
            <li>❌ {{ 'plansPage.starterPlan.feature7' | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="plan-group">
      <mat-card class="plan-card plus">
        <mat-card-content>
          <h2 class="title-plus">{{ 'plansPage.plusPlan.title' | translate }}</h2>
          <h3 class="price">4.99 $<br><span>{{ 'plansPage.perMonth' | translate }}</span></h3>
          <ul>
            <li>✅ {{ 'plansPage.plusPlan.feature1' | translate }}</li>
            <li>✅ {{ 'plansPage.plusPlan.feature2' | translate }}</li>
            <li>✅ {{ 'plansPage.plusPlan.feature3' | translate }}</li>
            <li>✅ {{ 'plansPage.plusPlan.feature4' | translate }}</li>
            <li>✅ {{ 'plansPage.plusPlan.feature5' | translate }}</li>
            <li>✅ {{ 'plansPage.plusPlan.feature6' | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <button mat-flat-button class="upgrade-plus-button" color="primary"  (click)="goToPurchase(2)">{{ 'plansPage.upgradeNowButton' | translate }}</button>
    </div>



    <div class="plan-group">
      <mat-card class="plan-card infinite">
        <mat-card-content>
          <h2 class="title-infinite">{{ 'plansPage.infinitePlan.title' | translate }}</h2>
          <h3 class="price">9.99 $<br><span>{{ 'plansPage.perMonth' | translate }}</span></h3>
          <ul>
            <li>✅ {{ 'plansPage.infinitePlan.feature1' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature2' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature3' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature4' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature5' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature6' | translate }}</li>
            <li>✅ {{ 'plansPage.infinitePlan.feature7' | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <button mat-flat-button class="upgrade-infinite-button" color="accent" (click)="goToPurchase(3)">{{ 'plansPage.upgradeNowButton' | translate }}</button>
    </div>

  </div>
</div>
