<mat-toolbar>
<mat-toolbar-row>
  <a href="#">
    <img src="../../../../assets/logoKeeplo.png" alt="Logo Keeplo">
  </a>
  <span class="spacer"></span>
  <div>
    <div><a (click)="goToCollections()" style="cursor:pointer;">{{'header.dashboard' | translate}}</a></div>
    <div><a routerLink="/plans" style="cursor:pointer;">{{'header.plans' | translate}} </a></div>
    <div><a routerLink="/trashcan" style="cursor:pointer;">{{'header.trashcan' | translate}} </a></div>
    <div><a routerLink="/user-profile" style="cursor:pointer;"><mat-icon style="color: #9D3F23;">account_circle</mat-icon></a></div>
  </div>


</mat-toolbar-row>
</mat-toolbar>
