<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onAction('delete')">
    <mat-icon>delete</mat-icon>
    <span>
      {{
        entityType === 'collection'
          ? ('itemsAction.deleteCollection' | translate)
          : ('itemsAction.deleteItem' | translate)
      }}
    </span>
  </button>

  <button mat-menu-item (click)="onAction('edit')">
    <mat-icon>edit</mat-icon>
    <span>
      {{
        entityType === 'collection'
          ? ('itemsAction.editCollection' | translate)
          : ('itemsAction.editItem' | translate)
      }}
    </span>
  </button>

  <button mat-menu-item *ngIf="entityType === 'collection' && !isSubCollection" (click)="onAction('exportPdf')">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>{{ 'itemsAction.exportPdf' | translate }}</span>
  </button>

  <button mat-menu-item *ngIf="entityType === 'wish'" [matMenuTriggerFor]="shareSubMenu">
    <mat-icon>share</mat-icon>
    <span>{{ 'itemsAction.share' | translate }}</span>
  </button>

  <mat-menu #shareSubMenu="matMenu">
    <button mat-menu-item (click)="onAction('shareQr')">
      <span>{{ 'itemsAction.shareQr' | translate }}</span>
    </button>
    <button mat-menu-item (click)="onAction('shareLink')">
      <span>{{ 'itemsAction.copyLink' | translate }}</span>
    </button>
  </mat-menu>
</mat-menu>
