<app-toolbar></app-toolbar>
<div class="main">
  <div class="sidebar">
    <div class="up-bar">
      <mat-icon class="clickable-icon" (click)="goBack()">arrow_back</mat-icon>

      <div class="sidebar">
        <app-sidebar *ngIf="collection != undefined"
                     [nav]="productList"
                     [subCollections]="subCollections"
                     [collection]="collection"
                      [title]="collection.title">
        </app-sidebar>
      </div>

    </div>

  </div>
  <app-creation-buttons [buttons]="creationButtons"></app-creation-buttons>
  <div class="containerContent">
    <div class="searchBar">
      <app-item-actions
        [item]="collection"
        [isCollectionContext]="true"
        [showPdfExportButton]="collection?.idParentCollection === 0" (onDelete)="handleCurrentCollectionDeletion($event)"
        (onExportPdf)="exportCollectionPdf($event)">
      </app-item-actions>
      <app-search-bar
        [searchType]="'items'"
        [currentCollectionId]="collectionId"
        (optionSelected)="handleItemSelected($event)">
      </app-search-bar>
    </div>

    <div class="content" *ngIf="productList.length > 0 || collections.length > 0; else noContent">
      <ng-container *ngFor="let product of productList">
        <app-product-item-card
          *ngIf="!product.isInTrash"
          [title]="product.title"
          [tags]="product.tags"
          [imageUrl]="product.urlImg"
          [description]="product.description"
          [link]="product.id"
          [item]="product"
          (delete)="deleteWish($event)"
          (edit)="editWish($event)"
          (shareQr)="shareWishQr($event)"
          (shareLink)="shareWishLink($event)">
        </app-product-item-card>
      </ng-container>

      <ng-container *ngFor="let collection of collections">
        <app-collection-card
          *ngIf="!collection.isInTrash && this.collection?.idParentCollection === 0"
          [collection]="collection"
          [name]="collection.title"
          [imageUrls]="collection.imageUrls"
          [tags]="collection.tags"
          [isSubCollection]="collection.idParentCollection !== 0"
          (delete)="deleteSubCollectionCard($event)"
          (edit)="editCollection($event)"
          (exportPdf)="exportSubCollectionToPdf($event)"
          (view)="navigateToCollection(collection.id)">
        </app-collection-card>
      </ng-container>

    </div>
    <ng-template #noContent>
      <div style="text-align: center; margin-top: 10rem">{{ 'collectionPage.noContent' | translate }}</div>
    </ng-template>
  </div>
</div>
