
<div class="main">

  <div class="sidebar">
    <div class="up-bar">
      <mat-icon class="clickable-icon" (click)="goBack()">arrow_back</mat-icon>

      <div class="sidebar">
        <app-sidebar
          [nav]="productList"
          titleName="My Wishes">
        </app-sidebar>
      </div>

    </div>

  </div>

<div class="containerContent">
  <div class="searchBar">
    <app-item-actions [item]="{ collectionId: collectionId }"
                      (onShare)="shareCollection()"
                      (shareQr)="shareCollectionQr()"
    ></app-item-actions>

    <app-search-bar></app-search-bar>
  </div>

  <div class="content" *ngIf="productList.length > 0; else noProducts">

    <ng-container *ngFor="let product of productList">
      <app-product-item-card
        *ngIf="!product.isInTrash"
        [title]="product.title"
        [imageUrl]="product.urlImg"
        [description]="product.description"
        [link]="product.id"
      ></app-product-item-card>
    </ng-container>

  </div>
  <ng-template #noProducts>
    <div style="text-align: center; margin-top: 10rem">There are no products in this collection.</div>
  </ng-template>
</div>
</div>
