.example-card {
  max-width: 300px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;

}

.tags {
  margin-top: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  margin-right: 5px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #333;
}
a{
  text-decoration: none;
  color: #81270d;
}
img{
  max-height: 200px;
  object-fit: cover;
}

.description-and-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.description-and-options p {
  margin: 0;
  flex-grow: 1;
}

.product-item-card-link {
  text-decoration: none;
  color: inherit;
}

.item-options {
  flex-shrink: 0;
}
