<app-toolbar></app-toolbar>
<div class="payment-container">
  <button mat-icon-button (click)="goBack()" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h2 class="title">{{ 'paymentInfo.title' | translate }}</h2>

  <form (ngSubmit)="changeCard()" [formGroup]="paymentForm" class="payment-form">

    <mat-form-field appearance="fill">
      <mat-label>{{ 'paymentInfo.cardNumber' | translate }}</mat-label>
      <input matInput formControlName="cardNumber" [placeholder]="'paymentInfo.cardNumberPlaceholder' | translate" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'paymentInfo.holder' | translate }}</mat-label>
      <input matInput formControlName="holderName" [placeholder]="'paymentInfo.holderPlaceholder' | translate" required />
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="fill" class="half">
        <mat-label>{{ 'paymentInfo.expirationDate' | translate }}</mat-label>
        <input matInput formControlName="expirationDate" [placeholder]="'paymentInfo.expirationDatePlaceholder' | translate" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="half">
        <mat-label>CVV</mat-label>
        <input matInput formControlName="cvv" placeholder="***" type="password" maxlength="3" required />
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" type="submit">{{ 'paymentInfo.changeCardButton' | translate }}</button>
  </form>
</div>


