.profile-container {
  display: block;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #4E1B12; /* marrón oscuro */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.profile-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.header-content {
  flex: 1; /* Esto hace que ocupe el resto del espacio */
}

.section {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  justify-content: center;
}

.card h3 {
  color: #4E1B12;
}

.card button{
  border-radius: 10px;
  background-color: #FF8B68;
  color: #FFFFFF;
}

button.mat-raised-button {
  border-radius: 10px;
  margin-top: 1rem;

}

.username-and-button {
  display: flex;
  align-items: center;
  width: 100%;
}

.delete-button {
  border-radius: 10px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 4rem;
  justify-content: flex-start;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.profile-header h2 {
  font-size: 1.8rem;
  margin: 0;
  flex-shrink: 0;
}

.profile-header button {
  background-color: #ffe49e;
  color: #4E1B12;
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 4rem;
}

.change-password-Button{
  background-color: #FFFCD7 !important;
  color: #FF9A7C !important;
}
