<app-toolbar></app-toolbar>
<div class="profile-container">
  <div class="profile-header">
    <img [src]="user.profilePicture" alt="Profile Picture">
    <div class="header-content">
      <div class="username-and-button">
        <h1>{{ 'profile.greeting' | translate:{name: user.name} }} 👋</h1>
        <button mat-raised-button color="primary" (click)="goToEditProfile()">{{ 'profile.editProfileButton' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="section">
    <mat-card class="card">
      <mat-card-title>{{ 'profile.activityTitle' | translate }}</mat-card-title>
      <mat-card-content>
        <p><strong>{{ 'navs.myCollections' | translate }}:</strong> 13</p>
        <p><strong>{{ 'profile.savedItems' | translate }}:</strong> 230</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>{{ 'profile.paymentInformationTitle' | translate }}</mat-card-title>
      <mat-card-content>
        <ng-container *ngIf="hasCard; else noCard">
          <p><strong>{{ 'profile.linkedCard' | translate }}:</strong> ••••{{ last4Digits }}</p>
          <p><strong>{{ 'profile.holder' | translate }}:</strong> {{ user.name }}</p>
          <button mat-raised-button class="editButton" color="accent" (click)="goToEditCardInformation()">
            {{ 'profile.editCardInfoButton' | translate }}
          </button>
        </ng-container>

        <ng-template #noCard>
          <p>No tienes tarjetas registradas.</p>
          <button mat-raised-button class="addCardbutton" (click)="goToEditCardInformation()">
            Agregar tarjeta
          </button>
        </ng-template>
      </mat-card-content>
    </mat-card>


  </div>

  <div class="section">
    <mat-card class="card">
      <mat-card-title>{{ 'profile.currentPlan' | translate }}: {{ currentPlanName }}</mat-card-title>
      <mat-card-content>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>{{ 'profile.password' | translate }}:</strong> ********</p>
        <button mat-raised-button class="change-password-Button" color="accent" (click)="goToEditPassword()">{{ 'profile.changePasswordButton' | translate }}</button>
        <div *ngIf="isFreePlan" class="upgrade-container">
          <button mat-raised-button color="primary" (click)="goToUpgrade()">
            {{ 'profile.upgradePlanButton' | translate }}
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="bottom-buttons-container"> <button mat-raised-button class="delete-button" (click)="deleteProfile()">{{ 'profile.deleteAccountButton' | translate }}</button>
    <button mat-raised-button class="logout-button" (click)="logout()">{{ 'buttons.logout' | translate }}</button>
  </div>
</div>
