.page-container {
  display: flex;
}

.sidebar {
  padding: 0 2rem;
  width: 12rem;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-search-bar {
  margin: 2rem 2rem 0 0;
  justify-content: flex-end;
  display: flex;
}

.collections-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 16px;
  margin: 15px 2rem 0 2rem;
}
app-creation-buttons {
  margin: 1rem 2rem 0 0;
  display: flex;
  justify-content: flex-end;
}
.main{
  display: flex;
}

