<app-toolbar></app-toolbar>
<div class="main">
  <div class="sidebar">
    <app-sidebar
      *ngIf="collections"
      [nav]="collections"
      title="{{'navs.myCollections'|translate}}">
    </app-sidebar>
  </div>

  <div class="content-area">
    <div class="searchBar">
      <app-search-bar
        [searchType]="'collections'"
        (optionSelected)="handleCollectionSelected($event)">
      </app-search-bar>
    </div>

    <app-creation-buttons [buttons]="creationButtons"></app-creation-buttons>

    <div class="collections-container">
      <div *ngFor="let collection of collections">
        <app-collection-card
          [collection]="collection"
          [name]="collection.title"
          [imageUrls]="collection.imageUrls"
          [tags]="collection.tags"
          (delete)="deleteCollection($event)"
          (edit)="editCollection($event)"
          (share)="shareCollection($event)"
          (shareQr)="navigateToQrShare(collection)"
          (view)="navigateToCollection(collection.id)">
        </app-collection-card>
      </div>
    </div>
  </div>
</div>
