<app-toolbar></app-toolbar>
<div class="main">
  <div class="sidebar">
    <app-sidebar
      *ngIf="collections"
      [nav]="collections"
      title="{{'navs.myCollections'|translate}}">
    </app-sidebar>
  </div>

  <div class="content-area">
    <div class="searchBar">
      <app-search-bar
        [searchType]="'collections'"
        (optionSelected)="handleCollectionSelected($event)">
      </app-search-bar>
    </div>

    <app-creation-buttons [buttons]="creationButtons"></app-creation-buttons>

    <div class="collections-container">
      <app-collection-card
        *ngFor="let collection of collections"
        [collection]="collection"
        [name]="collection.title"
        [imageUrls]="collection.imageUrls"
        [tags]="collection.tags"
        (edit)="editCollection(collection)"
        (delete)="deleteCollection(collection)"
        (exportPdf)="exportCollectionToPdf(collection)"
      ></app-collection-card>
    </div>
  </div>
</div>
