.up-bar{
  display: flex;
  margin: 2rem 6rem 2rem 6rem;
  align-items: center;
}
.up-bar button{
  background-color: #FF8B68;
  color: white;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.page-wrapper {
  background-color: #CEBCA6;
  min-height: 100vh;
  padding: 1rem;
}

.table-trash{
  width: 80%;
  justify-self: center;
}
