<div class="search-bar">
  <input type="text" maxlength="30" placeholder="{{'navs.search' | translate }}..."
         (input)="onInputChange($event)"
         (keydown)="onKeydown($event)"
         [(ngModel)]="searchText">
  <mat-icon>search</mat-icon>

  <ul *ngIf="showSuggestions && filteredOptions.length > 0" class="custom-autocomplete-dropdown">
    <li *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
        [class.highlighted]="option === highlightedOption">
      {{ option.title }}
    </li>
  </ul>
</div>
