<app-toolbar></app-toolbar>
<div class="qr-share-container">
  <div class="header">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h3>Your QR code is ready for {{ wish?.title }}</h3>
  </div>
  <div class="qr-content">
    <img [src]="qrCodeValue" alt="QR Code for {{ wish?.title }}">
    <button mat-flat-button color="accent" (click)="downloadQrCode()">
      Download QR Code
    </button>
  </div>
</div>
<div *ngIf="!wish">
  <p>Loading QR code...</p>
</div>
