<div class="viewContent">
  <div class="WelcomeCard">
    <div class="welcomeCard">

      <div class="cardWelcome">
        <h2 class="TitleWelcome">{{ 'login.title' | translate }}</h2>

        <div class="email-label">
          <h3>{{ 'login.emailLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'login.emailPlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="email" type="email">
          </mat-form-field>
        </div>

        <div class="password">
          <h3>{{ 'login.passwordLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'login.passwordPlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="password" type="password">
          </mat-form-field>
        </div>

        <div>
          <p class="signup-text">
            {{ 'login.noAccount' | translate }}
            <a routerLink="/signup" class="signup-link">{{ 'login.signUpLink' | translate }}</a>
          </p>
        </div>

        <div class="signIn">
          <button mat-flat-button class="signInButton" (click)="onLogin()">
            {{ 'login.signInButton' | translate }}
          </button>
          <a routerLink="/user-profile" class="user-profile-link"></a>
        </div>

      </div>

      <div class="imageSection">
        <img src="assets/welcome-back.png" alt="Welcome Image" class="welcome-image">
      </div>

    </div>
  </div>
</div>

