<app-toolbar></app-toolbar>
<div class="share-settings-container">
  <div class="header">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ 'shareSettings.title' | translate }}</h2>
  </div>

  <div class="content">
    <h3>{{ 'shareSettings.almostThere' | translate }}</h3>

    <div class="expiry-date">
      <label>{{ 'shareSettings.expiryDateLabel' | translate }}</label>
      <mat-slide-toggle [(ngModel)]="expiryEnabled"></mat-slide-toggle>
    </div>

    <mat-form-field>
      <mat-label>{{ 'shareSettings.enterExpiryDateLabel' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="expiryDate"
        (focus)="expiryEnabled ? picker.open() : null"
        (blur)="validateDate()"
        #dateInput="ngModel"
        (input)="onDateInputChange()"
        (keypress)="allowOnlyNumbersAndHyphen($event)"
        autocomplete="off"
        placeholder="YYYY-MM-DD"
        pattern="^\d{4}-\d{2}-\d{2}$"
        [disabled]="!expiryEnabled"
      />
      <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="!expiryEnabled"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="!expiryEnabled"></mat-datepicker>

      <mat-error *ngIf="dateInput.invalid && dateInput.touched">
        {{ 'shareSettings.invalidDateFormatError' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="permissions">
      <label>{{ 'shareSettings.permissionsLabel' | translate }}</label>
      <div class="permission-buttons">
        <button [class.active]="permission === 'view'" (click)="setPermission('view')">{{ 'shareSettings.viewPermission' | translate }}</button>
        <button [class.active]="permission === 'edit'" (click)="setPermission('edit')">{{ 'shareSettings.viewAndEditPermission' | translate }}</button>
      </div>
    </div>

    <button class="get-link-button" (click)="getLink()">{{ 'shareSettings.getLinkButton' | translate }}</button>
  </div>
</div>
