h3{
  color: #B7350A;
  text-decoration: underline;
  margin-left: 1rem;
}

li{

  padding: 5px 5px 5px 0;
  border-radius: 0 10px 10px 0;
  margin: 10px 0 ;
  max-width: 8rem;
  text-wrap: balance;
}

li:hover{
  background: #FFFAF3;
  transition: all 0.1s ease-in-out;
}

a{
  text-decoration: none;
  color: #522617;
}
