.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #6b1b00;
}

.profile-photo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;

  mat-form-field {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .avatar-field {
    position: absolute;
    right: 2rem;
    top: 11.3rem;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: purple;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }

  button {
    width: 100%;
    max-width: 200px;
    background-color: #ffbe59;
    color: black;
  }
}
