<app-toolbar></app-toolbar>
<div class="edit-profile-container">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1>{{ 'profileEdit.title' | translate }}</h1>

  <div class="profile-photo-section">
    <img [src]="user.profilePicture" alt="Profile" class="profile-pic" />
    <button mat-raised-button color="accent" (click)="uploadPhoto()">{{ 'profileEdit.uploadPhotoButton' | translate }}</button>
    <input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" hidden />
  </div>

  <form class="profile-form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'profileEdit.usernameLabel' | translate }}</mat-label>
      <input matInput [(ngModel)]="user.name" name="username" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveChanges()">{{ 'profileEdit.saveChangesButton' | translate }}</button>
  </form>
</div>
