<app-toolbar></app-toolbar>
<div class="page-bg" >
  <div class="back-button" (click)="goBack()">
    <span class="back-arrow">&#8592;</span>
    <span class="back-title">{{ collectionName || ('item.newCollection' | translate) }}</span>
  </div>

  <div class="edit-container">
    <div class="preview">
      <div class="images">
        <img *ngFor="let imageUrl of imageUrls; let i = index"
             [src]="imageUrl"
             [alt]="'item.imageAlt' | translate: { index: i + 1 }"
             [ngClass]="'image-' + (i + 1)">

        <div class="image-placeholder" *ngIf="imageUrls?.length === 0">
          <span>{{ 'item.noImages' | translate }}</span>
        </div>
      </div>
      <h2>{{ collectionName || ('item.newCollectionPlaceholder' | translate) }}</h2>

      <div class="form">
        <label>{{ 'item.collectionName' | translate }}</label>
        <div class="input-wrapper">
          <input type="text" [(ngModel)]="collectionName" maxlength="20" class="collection-input" />
          <span class="char-counter">{{ collectionName.length }} / 20</span>
        </div>
        <div class="buttons">
          <button class="save" (click)="save()">{{ 'save' | translate }}</button>
          <button class="cancel" (click)="cancel()">{{ 'cancel' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
