<app-toolbar></app-toolbar>
<div class="page-bg" >
  <div class="back-button" (click)="goBack()">
    <span class="back-arrow">&#8592;</span>
    <span class="back-title">{{ collectionName }}</span>
  </div>

<div class="edit-container">
  <div class="preview" [ngStyle]="{ 'background-color': getSelectedBgColor() }">
    <div class="images">
        <img *ngFor="let imageUrl of imageUrls; let i = index"
             [src]="imageUrl"
             [alt]="'image ' + (i + 1)"
             [ngClass]="'image-' + (i + 1)">

        <div class="image-placeholder" *ngIf="imageUrls?.length === 0">
          <span>No images</span>
    </div>
    </div>
    <h2>{{ collectionName }}</h2>

<div class="form">
  <label>Collection Name</label>
  <div class="input-wrapper">
    <input type="text" [(ngModel)]="collectionName" maxlength="20" class="collection-input" />
    <span class="char-counter">{{ collectionName?.length }} / 20</span>
  </div>


  <div class="color-selector">
    <div class="color-list">
      <div *ngFor="let color of colors" class="color-item">
        <div
          class="color-circle"
          [ngStyle]="{ 'background-color': color.hex }"
          (click)="setColor(color.value)"
          [class.selected]="selectedColor === color.value"
          [title]="color.label"
        >
          <span *ngIf="selectedColor === color.value" class="checkmark">✔</span>
        </div>
        <div class="color-label">{{ color.label }}</div>
      </div>
    </div>
  </div>
  <label>Color</label>
  <div class="buttons">
    <button mat-raised-button class="save-button" style="color: black" (click)="save()">Save</button>
    <button mat-raised-button class="cancel-button" style="color: black" (click)="goBack()">Cancel</button>
  </div>
</div>
  </div>
</div>
</div>
