<div class="signUpContent">
  <div class="RegistrationCard">
    <div class="regCard">

      <div class="cardRegistrationWelcome">
        <h2 class="TitleRegistrationWelcome">{{ 'signup.title' | translate }}</h2>

        <div class="email-label-r">
          <h3>{{ 'signup.emailLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'signup.emailPlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" required>
          </mat-form-field>
        </div>

        <div class="username-label-r">
          <h3>{{ 'signup.usernameLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'signup.usernamePlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="name" name="username" required>
          </mat-form-field>
        </div>

        <div class="password-r">
          <h3>{{ 'signup.passwordLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'signup.passwordPlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required>
          </mat-form-field>
        </div>

        <div class="repeat_password">
          <h3>{{ 'signup.repeatPasswordLabel' | translate }}</h3>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'signup.repeatPasswordPlaceholder' | translate }}</mat-label>
            <input matInput [(ngModel)]="repeatPassword" name="repeatPassword" type="password" required>
          </mat-form-field>
        </div>

        <div>
          <p class="signIn-text">
            {{ 'signup.alreadyMember' | translate }}
            <a routerLink="/login" class="login-link">{{ 'signup.signInLink' | translate }}</a>
          </p>
        </div>

        <div class="signUp">
          <button mat-flat-button class="signUpButton" (click)="onSignUp()">
            {{ 'signup.signUpButton' | translate }}
          </button>
        </div>
      </div>

      <div class="imageSection">
        <img src="assets/welcome.png" alt="Welcome Image" class="welcome-image">
      </div>

    </div>
  </div>
</div>
