.collection-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 300px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4px;
  height: auto;
  margin-bottom: 8px;
  overflow: hidden;
}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #eee;
  color: #777;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.more-options {
  color: #777;
  cursor: pointer;
  font-size: 1.2em;
}

mat-chip-set {
  margin-bottom: 8px;
}

.mat-chip {
  font-size: 0.9em;
}
