<div class="up-bar">
  <mat-icon class="clickable-icon" (click)="goBack()">arrow_back</mat-icon>
  <h2>{{ wish?.title }}</h2>
  <div class="spacer"></div>
  <app-item-actions
    [item]="wish"
    (onShare)="shareWish()"
    (shareQr)="shareWishQr(wish)"
    (onDelete)="handleDelete($event)">
  </app-item-actions>
</div>

<div class="container">
  <div class="content">
    <div class="image-container">
      <img
        [src]="wish?.urlImg"
        alt="image of {{ wish?.title }}"
      />
    </div>

    <div>
      <h3>{{ 'item.description' | translate }}</h3>
      <p style="margin-bottom: 2rem; width: 60%">{{ wish?.description }}</p>

      <a mat-flat-button [href]="wish?.redirectUrl" target="_blank">
        {{ 'item.goToItemsLink' | translate }}
        <mat-icon>open_in_new</mat-icon>
      </a>

      <app-tag-list [tags]="wish?.tags || []"></app-tag-list>
    </div>
  </div>
</div>
